@page
@model SalesViewModel

@{
    ViewData["Title"] = "Home page";
}



<div class="text-center">
    <h1 class="display-4">Green Gardens</h1>
    <p>See our <a href="https://docs.microsoft.com/aspnet/core">Location</a>.</p>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-page="ProductCreate" class="btn btn-primary"> Add Item</a>
    }
    @if (User.Identity.IsAuthenticated)
{
    <form method="get" asp-page="/Logout">
        <button type="submit" class="btn btn-warning">Logout</button>
    </form>
}

</div>

<table class="table">
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Price</th>
            <th>Customer Name</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Sales)
        {
            <tr>
                <td>@product.Guid</td>
                <td>@product.Price</td>
                <td>@product.CustomerName</td>
                <td>@product.ProductID</td>
                <td>@product.Quantity</td>               

            </tr>
        }
    </tbody>
</table>
